#bid-container{
    height: 80vh;
    background-color: #5D5555;
    color: white;
    padding: 5px 20px;
}

#time-remain{
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#bid-list{
    height: 77%;
    overflow-y: scroll;
}
.bid-list-item{
    margin-bottom: 20px;
}
.bid-list-item:first-child{
    background-color: white;
    color: black;
}
#bid-input{
    height: 8%;
}

.info{
    margin-bottom: 1em;
}

#postTags > div{
    background-color: rgb(48, 59, 59);
    color: white;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    width: fit-content;
    display: inline-block;
    margin-left: 2px;
    margin-bottom: 2px;
}

#bidPrice{
    border-radius: 15px;
    margin-right: 5%;
}
#bidButton{
    background-color: #EF4848;
    border: none;
}
#bidButton:hover{
    background-color: #df1d1d;
}

#followButton{
    background-color: #EF4848;
    border: none;
}

.adoptContainer{
    background-color: white;
    color: black;
}

#errorMessage{
    color: red;
}