body{
    margin: 0;
    padding: 0;
    background-color: gray;
    color: white;
    cursor: context-menu;
    user-select: none;
    font-size: 1.2vw;
}

.nav{
    display: flex;
    width: 100vw;
    height: 8vh;
    padding-bottom: 4.5%;
}

.navbar{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 0;
    margin-bottom: 0;
}

ul{
    display: flex;
    list-style: none;
}

.nav-item{
    display: flex;
}

.nav-link{
    display: block;
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
}
.nav-link:hover{
    color: white;
    text-shadow: 0px 0px 10px #000000;
}

.active{
    border-bottom: solid;
}

.notification{
    width: 10%;
}

.red{
    color: rgb(180, 20, 20);
}
.green{
    color: rgb(5, 141, 64);
}