.open{
    display: block;
}

.close{
    display: none;
}
.choices{
    display: flex;
    flex-wrap: wrap;
}
.choices div{
    background-color: rgb(48, 59, 59);
    color: cornsilk;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    width: fit-content;
    display: inline-block;
    margin-left: 2px;
    margin-bottom: 2px;
}

#previewImg{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}
#previewImg img{
    max-width: 100%;
}

.select{
    filter: brightness(100%);
}

.unselect{
    filter: brightness(30%);
}

#errorMessage{
    color: red;
}

.post-container{
    margin-top: 2%;
}

.formInfo-container{
    padding: 2.5%;
    background-color: white;
    color: black;
}

.publishButton{
    background-color: #EF4848;
    color: white;
    transition: .5s;
}
.publishButton:hover{
    background-color: #df1d1d;
}

.imgForm{
    background-color: #5D5555;
    height: 80vh;
}

.img-container{
    background: white;
    height: fit-content;
    border-radius: 20px;
}

.tags-nav-item{
    background-color: #dfb3b3;
    border-top-right-radius: 20px;
    text-align: center;
    transition: .5s
}
.tags-nav-item:hover{
    background-color: #EF4848;
    cursor: pointer;
}
.tags-nav-item-open{
    background-color: #EF4848;
}