.search{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
}
.searchbar{
    display: flex;
    width: 50%;
    background-color: white;
    color: gray;
    align-items: center;
}
.searchbtn{
    width: 10%;
    background-color: darkslategray;
    color: white;
    cursor: pointer;
    border: none;
    margin: 0 1% 0 1%;
}
.createbtn{
    width: 10%;
    background-color: red;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border: none;
}
.tags-container{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.tags{
    display: flex;
    width: 100%;
    margin-left: 0;
    flex-wrap: wrap;
}
.titletag{
    display: flex;
    padding: .5% 2%;
    margin: 1%;
    cursor: pointer;
    background-color: #df1d1d;
    border-top-right-radius: 20px;
    text-align: center;
    transition: .5s
}
.titletag:hover{
    background-color: #720c0c;
}
.choice{
    display: flex;
    flex-wrap: wrap;
}
.open{
    display: flex;
}

.close{
    display: none;
}

.tag-choice{
    display: flex;
    width: 100%;
    margin-left: 0;
    flex-wrap: wrap;
}
.choice div{
    display: flex;
    background-color: rgb(48, 59, 59);
    margin-left: 5px;
    cursor: pointer;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    width: fit-content;
    display: inline-block;
}
.choice div:hover{
    background-color: rgb(61, 122, 122);
}


.adoptableState{
    display: flex;
    width: 100vw;
    justify-content: flex-start;
    flex-flow: row wrap;
    font-size: 2vw;
    flex-wrap: wrap;
    margin-top: 2%;
}
.post{
    width: 30%;
    background-color: white;
    color: black;
    height: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
    margin:0 1.5% 2%;
}
.split-row{
    display: flex;
    justify-content: space-between;
}
.time{
    width: 50%;
}
.lastBit{
    text-align: end;
    width: 50%;
}
.image{
    width: 100%;
    height: 60%;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
.image:hover{
    box-shadow: 0px 0px 10px #000000;
}
.split-col{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.bid{
    display: flex;
    align-items: center;
    width: 25%;
}
.bidbtn{
    background-color: darkslategray;
    color: white;
    border: none;
    width: 100%;
    height: 80%;
    font-size: 70%;
}

@media only screen and (max-width: 768px){
    .post{
        width: 40%;
        height: 35vw;
        margin:2% 4% 2%;
    }
}