.container{
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10%;
    align-items: center;
}

.login{
    display: flex;
    width: 500px;
    height: 500px;
    border-radius: 50px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    color: black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 30%);
    font-size: 20px;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.dot{
    height: 20px;
    width: 20px;
    background-color: none;
    border: 4px solid white;
    border-radius: 50%;
    display: inline-block;
}

.head{
    height: 20%;
}

.insert-data{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 60%;
    width: 80%;
}

.space{
    display: block;
    height: 2vh;
}

.form{
    border: 1px solid black;
    width: 50%;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 5vh;
    border-radius: 100%;
    border: none;
    background-color: darkslategray;
    color: white;
}

.bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 20%;
}

.register{
    font-style: italic;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .login{
        width: 400px;
        height: 400px;
        font-size: 15px;
    }
    .dot{
        width: 15px;
        height: 15px;
    }
}

@media only screen and (max-width: 375px) {
    .login{
        width: 300px;
        height: 300px;
        font-size: 10px;
    }
}