.container{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin-top: 1vw;
}
.bgTop{
    background-color: #333333; 
    width: 100vw; 
    height: 12vw;
    position: absolute; 
    z-index: -1;
}
.left{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 40vw;
    justify-content: space-between;
}
.profileImg{
    width: 100%;
    height: 30vw;
    background-color: #eeeeee;
    background-image: url("img/noimage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.btn{
    border: none;
    color: white;
}
.btn:hover{
    color: white;
}
.edit{
    background-color: darkslategray;
}
.logout{
    background-color: red;
}
.right{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.username{
    width: 100%;
    font-size: 2em;
    margin-bottom: 5vw;
    margin-top: 6vw;
}
.info{
    width: 100%;
    height: 15vw;
    background-color: white;
    color: black;
    box-shadow: 2px 2px 2px #000000;
    margin-bottom: 5vw;
}
.fav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.favPost{
    width: 30%;
    height: 10vw;
    background-color: white;
}

.post{
    width: 45%;
    background-color: white;
    color: black;
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
    margin:0 1.5% 2%;
}

.bidbtn{
    height: fit-content;
    min-height: 80%;
}

@media only screen and (max-width: 768px){
    .post{
        width: 80%;
        height: 40vw;
        margin:2% 4% 2%;
    }
    .fav{
        align-items: center;
        justify-content: center;
    }
}